
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron text-center">
    <h1 class="display-3">Bienvenue 😃 !</h1>
    <p class="lead">
        Cette application est celle du cours de Systèmes de Gestion de Bases de Données.
        Elle permet de faire un CRUD sur une table
    </p>
    <hr class="my-4">
    <p>Pour commencer, cliquez sur le bouton</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg rounded-0" href="~/book/addbook">Commencer</a>
    </p>
</div>

